.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    background-color: aqua;
    width: 700px;
    height: 605px;
  }

  label{
      margin-right: 50px;
  }

  div{
      margin-top: 10px;
  }

  .gender{
      display: flex;
      align-items: baseline;
      margin-top: -3px;
  }

  .space{
      margin-left: 4rem;
  }

  .course{
      display: flex;
      align-items: baseline;
  }

  .checkspace{
      margin-left: 10px;
      
  }

  .dob{
      margin-top: -1px;
  }
  
  .heading{
      display: flex; 
      justify-content: 
      center;text-align: center;
       margin-top: -20px;
  }

  .Head{
      margin-top: 60px;
      border-style: double;
      height: 70px; display:
      flex; justify-content:
      center; align-items: center; 
      width: 500px;
  }

  .content{
      margin-top: 10px;
       margin-left: 50px;
  }
